*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.block {
    position: absolute;
    color: black;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}